#compass{
	height: 100%;
	position: absolute;
}

#needle{
	height: 100%;
	position: absolute;
	transition: transform 1.5s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
	#logo:hover > #needle{
		transform: rotate(180deg);
	}
}

