<!DOCTYPE html>
<html lang="en">
	<head>
		{{ partial "partials/head.html" . }}
	</head>

	<body onload="init()" onresize="resize()">
		<div id="column">
			<div id="tags">
				{{ partial "partials/header.html" . }}
				<ul>
				{{ range .Pages.ByDate.Reverse }}
					<a href="{{ .Permalink }}">
						<li>
							<div class="info-bar"><h2>{{ .Title }}</h2>
							<h2> {{ .Date.Format "2 January 2006" }}</h2>
							</div>
							<p class="summary">{{ .Summary }}</p>
						</li>
					</a>
				{{ end }}
				</ul>	
			</div>
			{{ partial "partials/footer.html" . }}
		</div>
	</body>
	<script>0</script> <!-- Firefox FOUS hack -->
</html>