<footer>
	<hr>
	{{ if .IsPage }}
		{{ $dateFormatted := .PublishDate.Format "2 January 2006" }}
		{{ $updateFormatted := .Lastmod.Format "2 January 2006" }}
		<p> Posted: <time datetime="{{ .PublishDate.Format "2006-01-02" }}"> {{ $dateFormatted }}</time></p>
		{{ if ne $dateFormatted $updateFormatted}}
			<p> Edited: <time datetime="{{ .Lastmod.Format "2006-01-02" }}"> {{ $updateFormatted }}</time></p>
		{{ end }}
		{{ if .Params.tags }}
			{{ range sort .Params.tags }}
				<a href="/tags/{{ . }}">{{.}}</a>
			{{ end }}
		{{ end }}
	{{ else }}
		{{ range .Site.Taxonomies.tags }}
			<a href="/tags/{{ .Page.Title }}">{{ .Page.Title }}&nbsp;{{ .Count }}</a>
		{{ end }}
	{{ end }}
</footer>