<footer>
	<hr>
	{{ if .IsPage }}
		{{ $dateFormatted := .Date.Format "2 January 2006" }}
		{{ $updateFormatted := .Lastmod.Format "2 January 2006" }}
		<p> Posted: <time datetime="{{ .Date }}"> {{ $dateFormatted }}</time></p>
		{{ if ne $dateFormatted $updateFormatted}}
			<p> Edited: <time datetime="{{ .Date }}"> {{ $updateFormatted }}</time></p>
		{{ end }}	
		{{ range sort .Params.tags }}
			<a href="/tags/{{ . }}">{{.}}</a>
		{{ end }}
	{{ else }}
		{{ range sort .Site.Taxonomies.tags "value" "desc" }}
			<a href="/tags/{{ . }}">{{.}} ({{ .Count . }})</a>
		{{ end }}
	{{ end }}
</footer>