	<title>Cynosure - {{ title .Title }}</title>
	<meta charset="utf-8"/>
	<meta name="author" content="North">
	<meta name="description" content="{{ .Site.Params.Description }}">
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="/Icons/Minimal-Compass-Black.svg" type="image/gif">

	<link rel="stylesheet" type="text/css" href="/Styles/hacker.css"/>
	<link rel="stylesheet" type="text/css" href="/Styles/glitch.css"/>
	{{/* Needs crossorigin set, even if it's not crossorigin https://stackoverflow.com/questions/70183153/why-do-we-need-the-crossorigin-attribute-when-preloading-font-files */}}
	<link rel="preload" href="/Fonts/FiraCode-VF.woff2" as="font" type="font/woff2" crossorigin>
	{{/* TODO: Only load if page contains code block */}}
	<link rel="stylesheet" type="text/css" href="/Styles/highlight.css"/>
