	<title>Cynosure - {{ title .Title }}</title>
	<meta charset="utf-8"/>
	<meta name="author" content="North">
	<meta name="description" content="Now in rainbow">
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="/Icons/Minimal-Compass-Black.svg" type="image/gif">

	<link rel="stylesheet" type="text/css" href="/Styles/hacker.css"/>
	<link rel="stylesheet" type="text/css" href="/Styles/glitch.css"/>
	<link rel="preload" href="/Fonts/FiraCode-VF.woff2&display=swap" as="font" type="font/woff2">
	{{/* TODO: Only load if page contains code block */}}
	<link rel="stylesheet" type="text/css" href="/Styles/highlight.css"/>
