<!DOCTYPE html>
<html lang="en">

<head>
	<title>Cynosure</title>
	{{ partial "partials/head.html" }}
	<link rel="stylesheet" type="text/css" href="/Styles/index.css" />
</head>

<body>
	{{ partial "partials/logo.html" }}
	<div id="title-container">
		<h1 class="glitch" content="░"> C </h1>
		<h1 class="glitch" content="𝚈"> Y </h1>
		<h1 class="glitch" content="_"> N </h1>
		<h1 class="glitch" content="∴"> O </h1>
		<h1 class="glitch" content="/-"> S </h1>
		<h1 class="glitch" content="⮇"> U </h1>
		<h1 class="glitch" content="ℝ"> R </h1>
		<h1 class="glitch" content="!!"> E </h1>
	</div>
	<div id="column">
		<p>Hi there. I'm <a href="{{ ref . "0001-01-01-me.adoc" }}">North</a>, and this website is a hub for my
			projects.<br>
			It's a little sparse right now, because it's very new. But there's lots to come<br>
		</p>
		<p>Lorem Ipsum: <a href="{{ ref . "0001-01-01-Test.adoc" }}">Test</a></p>
	</div>
</body>
<script>0</script> <!-- Firefox FOUS hack -->

</html>