<!DOCTYPE html>
<html lang="en">

<head>
	<title>Cynosure</title>
	<link rel="stylesheet" type="text/css" href="/Styles/index.css" />
	{{ partial "partials/head.html" }}
</head>

<body>
	{{ partial "partials/logo.html" }}
	<div id="title">
		<h1 class="glitch" style="animation-delay: -13s;" content="░"> C </h1>
		<h1 class="glitch" style="animation-delay: -9s;" content="𝚈"> Y </h1>
		<h1 class="glitch" style="animation-delay: -34s;" content="_"> N </h1>
		<h1 class="glitch" style="animation-delay: -1s;" content="∴"> O </h1>
		<h1 class="glitch" style="animation-delay: -10s;" content="/-"> S </h1>
		<h1 class="glitch" style="animation-delay: -17s;" content="⮇"> U </h1>
		<h1 class="glitch" style="animation-delay: -5s;" content="ℝ"> R </h1>
		<h1 class="glitch" style="animation-delay: -29s;" content="!!"> E </h1>
	</div>
	<div id="column">
		<p>Hi there. I'm <a href="{{ ref . "0001-01-01-me.adoc" }}">North</a>, and this website is a hub for my
			projects.<br>
			It's a little sparse right now, because it's very new. But there's lots to come<br>
		</p>
		<p>Lorem Ipsum: <a href="{{ ref . "0001-01-01-Test.adoc" }}">Test</a></p>
	</div>
</body>
<script>0</script> <!-- Firefox FOUS hack -->

</html>