<!doctype html>
<html lang="en">

<head>
	<title>Cynosure</title>

	<style>
		#title {
			width: 100%;
			display: flex;
			justify-content: center;
			pointer-events: none;
			padding-top: calc(40px + 17vh);
			padding-bottom: calc(35px + 18vh);
		}

		#title h1 {
			font-size: min(10em, 14vw);
			margin: 0 1.2vw;
			display: inline-block;
		}

		p {
			text-align: center;
			margin: 30px;
		}

		ul {
			text-align: center;
			list-style-type: none;
			padding-left: 0;
			margin-top: -20px;
		}

		li {
			margin: 5px 0;
		}
	</style>

	{{ partial "head.html" }}
</head>

<body>
	{{ partial "logo.html" }}
	<div id="title" role="heading" aria-label="Cynosure">
		<h1 class="glitch" aria-hidden="true" style="animation-delay: -1.3s;" content="░"> C </h1>
		<h1 class="glitch" aria-hidden="true" style="animation-delay: -.9s;" content="//"> Y </h1>
		<h1 class="glitch" aria-hidden="true" style="animation-delay: -3.4s;" content="_°"> N </h1>
		<h1 class="glitch" aria-hidden="true" style="animation-delay: -1s;" content="⎋︎"> O </h1>
		<h1 class="glitch" aria-hidden="true" style="animation-delay: -.1s;" content="￿"> S </h1>
		<h1 class="glitch" aria-hidden="true" style="animation-delay: -1.7s;" content="𝔘"> U </h1>
		<h1 class="glitch" aria-hidden="true" style="animation-delay: -.5s;" content="ℝ"> R </h1>
		<h1 class="glitch" aria-hidden="true" style="animation-delay: -2.9s;" content="!!"> E </h1>
	</div>
	<div id="column">
		<p>Hi there, I'm <a href="{{ ref . "blog/0001-01-01-me.adoc" }}">North</a></p>
		<p>Read a post:</p>
		<ul>
			{{ range ( where .Site.RegularPages "Section" "in" (slice "blog" "scripts") | first 3 ) }}
			<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
			{{end}}
		</ul>
		<p>Read the <a href="/blog">archive</a></p>
		<p>Or browse by <a href="/tags">tags</a></p>
		<p>{{ partialCached "rss.html" . }}</p>

	</div>
</body>

</html>
