@import url('modules/logo.css');
@import url('modules/glitch.css');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@font-face {
  font-family: 'Fira Code';
  src: url('/Fonts/FiraCode-VF.woff2') format('woff2-variations');
  font-weight: 100 700;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
	:root{
		--background-gradient: linear-gradient(122deg, #222222 0%, #222222 5.56%, #212121 5.56%, #212121 11.11%, #202020 11.11%, #202020 16.67%, #1f1f1f 16.67%, #1f1f1f 22.22%, #1e1e1e 22.22%, #1e1e1e 27.78%, #1d1d1d 27.78%, #1d1d1d 33.33%, #1c1c1c 33.33%, #1c1c1c 38.89%, #1b1b1b 38.89%, #1b1b1b 44.44%, #1a1a1a 44.44%, #1a1a1a 50.00%, #191919 50.00%, #191919 55.56%, #181818 55.56%, #181818 61.11%, #171717 61.11%, #171717 66.67%, #161616 66.67%, #161616 72.22%, #151515 72.22%, #151515 77.78%, #141414 77.78%, #141414 83.33%, #131313 83.33%, #131313 88.89%, #121212 88.89%, #121212 94.44%, #111111 94.44%, #111111 100%);
		--text-color: #fff;
		--scrollbar-background: #333;
		--scrollbar-foreground: #222;
		--code-inline-background: #333;
		--semi-transparent-background: #2229;
	}
}


@media (prefers-color-scheme: light) {
	:root {
		--background-gradient: linear-gradient(122deg, #fafafa 0%, #fafafa 5.56%, #f6f6f6 5.56%, #f6f6f6 11.11%, #f2f2f2 11.11%, #f2f2f2 16.67%, #eeeeee 16.67%, #eeeeee 22.22%, #eaeaea 22.22%, #eaeaea 27.78%, #e6e6e6 27.78%, #e6e6e6 33.33%, #e2e2e2 33.33%, #e2e2e2 38.89%, #dedede 38.89%, #dedede 44.44%, #dadada 44.44%, #dadada 50.00%, #d6d6d6 50.00%, #d6d6d6 55.56%, #d2d2d2 55.56%, #d2d2d2 61.11%, #cecece 61.11%, #cecece 66.67%, #cacaca 66.67%, #cacaca 72.22%, #c6c6c6 72.22%, #c6c6c6 77.78%, #c2c2c2 77.78%, #c2c2c2 83.33%, #bebebe 83.33%, #bebebe 88.89%, #bababa 88.89%, #bababa 94.44%, #b6b6b6 94.44%, #b6b6b6 100%);
		--text-color: #000;
		--scrollbar-background: #eee;
		--scrollbar-foreground: #ddd;
		--code-inline-background: #bbb;
		--semi-transparent-background: #eee8;
	}

	#logo, hr{
		filter: invert(100%);
	}
}

html{
	scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
	background: var(--background-gradient);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
}

body {
	margin: 0;
	overflow-x: hidden;		/* TODO: DO I need this? */

	/* Chrome hack */
}

/* General */
#logo {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 80px;
	width: 80px;
}

#column {
	width: min(1000px, 96%);
	margin: 0 auto;
}


img {
	max-width: min(1000px, 100%);
	display: block;
	margin: 0 auto;
}

/* Header */
#title-container {
	width: fit-content;
	margin: 0 auto;
	pointer-events: none;
}

header{
	max-width: 80vw;
	margin: 0 auto;
}

h1 {
	color: var(--text-color);
	font-family: 'arial';
	font-size: 7em;
	margin: 35px 0px 35px 0px;
	text-align: center;
}

/* Text */
h2, h3, h4, h5, h6, p, a {
	color: var(--text-color);
	font-family: 'Fira Code', 'monospace';
	font-weight: 500;
	font-feature-settings:
		"ss05",		/* @ symbol with long tail */
		"zero",		/* Zero with a dot in it */
		"ss07",		/* Approx equals */
		"cv30",		/* Tall pipe */
		"ss03",		/* traditional ampersand */
		"ss09"		/* Arrows instead of logic */
		;
}

code {
	color: var(--text-color);
	font-family: 'Courier Prime', monospace;

}

p {
	line-height: 1.4;
}

/* Footer */
footer {
	padding: 20px 0px 20px 0px;
}

footer a {
	margin: 10px;
	font-size: 1em;
}
footer a:first-of-type{ margin-left: 0; }

hr {
	width: 104%;
	margin-left: -2%;
}


/* Code */
.highlight{
	margin: 2vh 0 2vh 0;
}

.chroma code {
	scrollbar-width: thin;
}

:not(.chroma) > code {
	background-color: var(--code-inline-background);
	padding: 1px 3px 1px 5px;
	border-radius: 4px;
}


/* Tag pages */
#tags ul {
	list-style-type: none;
	text-size-adjust: none;
	padding-left: 0;
}

#tags li {
	padding: 10px;
	margin-top: 15px;
	background-color: var(--semi-transparent-background);
	border-radius: 2px;
}

#tags a { text-decoration: none; }

.summary { clear: both; }

.info-bar { text-size-adjust: none; padding-left: 0; }
.info-bar :first-child { float: left; }
.info-bar :last-child { float: right; padding-right: 10px; }