#title{
	width: 100%;
	display: flex;
	justify-content: center;
	pointer-events: none;
}

#title h1 {
	font-size: min(10em, 14vw);
	margin: calc(40px + 17vh) 1.2vw calc(35px + 18vh) 1.2vw;
	display: inline-block;
}

p {
	text-align: center;
	margin: 30px;
}

ul {
	text-align: center;
	list-style-type: none;
	padding-left: 0;
	margin-top: -20px;
}

li {
	margin: 5px 0;
}