<!DOCTYPE html>
<html lang="en">
	<head>
		{{ partial "partials/head.html" . }}
	</head>

	<body onload="init()" onresize="resize()">
		<div id="column">
			<div id="tags">
				{{ partial "partials/header.html" . }}
				<ul>
				{{ range .Pages.ByDate.Reverse }}
					<a href="{{ .Permalink }}">
						<li>
							<div class="info-bar"><p>{{ .Title }}</p>
							<time datetime="{{ .Date }}"> {{ .Date.Format "2 January 2006" }}</time>
							</div>
							<p>{{ .Summary }}</p>
						</li>
					</a>
				{{ end }}
				</ul>	
				{{ partial "partials/footer.html" . }}
			</div>
		</div>
	</body>
	<script>0</script> <!-- Firefox FOUS hack -->
</html>