@font-face {
	font-family: 'Fira Code';
	src: url('/Fonts/FiraCode-VF.woff2') format('woff2-variations');
	font-display: swap;
}

@font-face {
	font-family: 'Custom Fallback';
	/* Probably good enough, although I strugged to find a comprehensive list of fonts commonly installed on linux */
	src: local("Lucida Console"),
		local("Lucida Sans Typewriter"),
		local("DejaVu Sans Mono"),
		local("Noto Sans Mono"),
		local("Andale Mono"),
	/* TODO: I'd like to use fmods to get this even better, but they're already pretty close */
}

@media (prefers-color-scheme: dark) {
	:root{
		--background-gradient: linear-gradient(122deg, #222222 0%, #222222 5.56%, #212121 5.56%, #212121 11.11%, #202020 11.11%, #202020 16.67%, #1f1f1f 16.67%, #1f1f1f 22.22%, #1e1e1e 22.22%, #1e1e1e 27.78%, #1d1d1d 27.78%, #1d1d1d 33.33%, #1c1c1c 33.33%, #1c1c1c 38.89%, #1b1b1b 38.89%, #1b1b1b 44.44%, #1a1a1a 44.44%, #1a1a1a 50.00%, #191919 50.00%, #191919 55.56%, #181818 55.56%, #181818 61.11%, #171717 61.11%, #171717 66.67%, #161616 66.67%, #161616 72.22%, #151515 72.22%, #151515 77.78%, #141414 77.78%, #141414 83.33%, #131313 83.33%, #131313 88.89%, #121212 88.89%, #121212 94.44%, #111111 94.44%, #111111 100%);
		--text-color: #fff;
		--scrollbar-background: #333;
		--scrollbar-foreground:	 #222;	/* TODO: Scrollbar colors don't have enough contrast for both themes */
		--code-inline-background: #333;
		--semi-transparent-background: #2229;
		
		color-scheme: dark;
	}
}


@media (prefers-color-scheme: light) {
	:root {
		--background-gradient: linear-gradient(122deg, #fafafa 0%, #fafafa 5.56%, #f6f6f6 5.56%, #f6f6f6 11.11%, #f2f2f2 11.11%, #f2f2f2 16.67%, #eeeeee 16.67%, #eeeeee 22.22%, #eaeaea 22.22%, #eaeaea 27.78%, #e6e6e6 27.78%, #e6e6e6 33.33%, #e2e2e2 33.33%, #e2e2e2 38.89%, #dedede 38.89%, #dedede 44.44%, #dadada 44.44%, #dadada 50.00%, #d6d6d6 50.00%, #d6d6d6 55.56%, #d2d2d2 55.56%, #d2d2d2 61.11%, #cecece 61.11%, #cecece 66.67%, #cacaca 66.67%, #cacaca 72.22%, #c6c6c6 72.22%, #c6c6c6 77.78%, #c2c2c2 77.78%, #c2c2c2 83.33%, #bebebe 83.33%, #bebebe 88.89%, #bababa 88.89%, #bababa 94.44%, #b6b6b6 94.44%, #b6b6b6 100%);
		--text-color: #000;
		--scrollbar-background: #eee;
		--scrollbar-foreground: #ddd;
		--code-inline-background: #bbb;
		--semi-transparent-background: #eee8;

		color-scheme: light;
	}

	hr{
		filter: invert(100%);
	}
}


html {
	scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
	background: var(--scrollbar-background);	/* Fallback */
}

body::before {		/* Hack because background-attachment: fixed doesn't work properly on mobile */
	content: '';
	position: fixed;
	width: 100vw;
	height: 110vh;
	z-index: -1;

	background: var(--background-gradient);
	background-size: cover;
	background-position: center top;
}

body {
	margin: 0;
}

/* General */
#logo {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 70px;
	width: 70px;
}

#rss {
	fill: var(--text-color);
}

#column {
	width: min(1000px, 96%);
	margin: 0 auto;
	overflow-x: hidden;
}


img {
	max-width: min(1000px, 100%);
	display: block;
	margin: 0 auto;
}

/* Header */
#title-container {
	width: fit-content;
	margin: 0 auto;
	pointer-events: none;
}

header{
	max-width: 80vw;
	margin: 0 auto;
}

h1 {
	color: var(--text-color);
	font-family: 'arial';
	/* font-size: 5em; */
	margin: 35px 0 35px 0;
	text-align: center;
}

h2 {
	margin: 20px 0 20px 0;
}

/* Text */
h2, h3, h4, h5, h6, p, a, code, label, input, ul, ol, .footnote {
	color: var(--text-color);
	font-family: 'Fira Code', 'Custom Fallback', monospace;
	font-weight: 500;
	font-feature-settings:
		"ss03",		/* traditional ampersand */
		"ss04",		/* simplified $ */
		"ss05",		/* @ symbol with long tail */
		"ss07",		/* Approx equals */
		"ss09",		/* Arrows instead of logic */
		"zero",		/* Zero with a dot in it */
		"cv30"		/* Tall pipe */
		;
}

input[type="text"] {
	background: transparent;
	border: none;
	box-shadow: 0 2px 0 var(--text-color);
}

code {
	font-weight: 400;
	font-variant: none;
	font-feature-settings:
		"ss04",		/* simplified $ */
		"ss05",		/* @ symbol with long tail */
		"zero",		/* Zero with a dot in it */
		"ss07",		/* Approx equals */
		"ss03"		/* traditional ampersand */
		;
}

p, a {
	line-height: 1.4;
}

a {
	text-underline-offset: 5px;
}

.footnote {
	padding-top: 10px;
}

/* Footer */
footer {
	padding: 20px 0px 20px 0px;
}

footer a {
	margin: 5px;
	padding: 2px;
	border-radius: 3px;
	background-color: var(--semi-transparent-background);
}
footer a:first-of-type{ margin-left: 0; }


/* Code */
.highlight{
	margin: 2vh 0 2vh 0;
}

.chroma code {
	scrollbar-width: thin;
}

:not(.chroma) > code {
	background-color: var(--code-inline-background);
	padding: 1px 3px 1px 5px;
	border-radius: 3px;
}


/* Tag pages */
#list ul {
	list-style-type: none;
	padding-left: 0;
}

#list li {
	padding: 10px;
	margin-top: 15px;
	background-color: var(--semi-transparent-background);
	border-radius: 3px;
}

#list a { text-decoration: none; }
